name: Metrics
on:
  # Schedule updates daily at midnight
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: Zainul342
          template: classic
          base: header, repositories
          config_timezone: Asia/Jakarta
          
          # Languages plugin
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          
          # Habits plugin (shows coding hours)
          plugin_habits: yes
          plugin_habits_from: 200
          plugin_habits_days: 14
          plugin_habits_charts: yes
          
          # Lines of code plugin
          plugin_lines: yes
