name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Zainul342
          template: classic
          base: header, repositories
          config_timezone: Asia/Jakarta
          
          # Languages
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss
          plugin_languages_details: bytes-size, percentage
          
          # Achievements (New: Cool badges!)
          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
          
          # Activity (New: Simplified activity)
          plugin_activity: yes
          plugin_activity_limit: 5
          plugin_activity_days: 14
          plugin_activity_filter: pr, issue, member
